<div id="home3"></div>
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Welcome {{user.firstname}} ({{user.username}})</a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu dropleft" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item" href="/logout">Log Out</a>
        </div>
      </li>
    </ul>
</nav>

<div class="container" id='gamesform'>
    <h1>Personal Info</h1>
    <p>{{phonenumber}}</p>
    <p>{{address}}</p>
    <p>{{ssn}}</p>
</div>
