<div id="home2"></div>

<div class="container" id='gamesform'>
    <h1 class='splash centertext'>Select a Tournament</h1>
    {{#each tournaments}}
        <div class="card">
            <div class="card-header">{{this.name}}</div>
            <div class="card-body">
                <p>Located at {{this.location}}</p>
                <p>tournament date: {{this.date}}</p>
                <p>Players Registered: {{this.maxnum}}</p>
                <p>Spots Remaining: {{this.remaining}}</p>
            </div>
            <div class="card-footer">
                <a href="/tournaments/{{this.tournamentid}}" type="button" class='btn btn-primary' tournamentID={{this.tournamentid}}>Enter Tournament</a>
            </div>
        </div>
    {{/each}}
</div>
